version: '3.8'

services:
  middleware:
    build: .
    container_name: bitrix_1c_middleware
    environment:
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    ports:
      - "8008:8008"
    restart: unless-stopped
    network_mode: host
    command: uvicorn server:app --host 0.0.0.0 --port 8008
